@model StudentManagement.Models.StudentMajorViewModel
@{
    ViewData["Title"] = "Student Info";
}

<div>
    <h2>Thông tin sinh viên</h2>
    <p>Tên: @ViewBag.Name</p>
    <p>Tuổi: @ViewData["Age"]</p>
    <p>Ngành: @Model.Major</p>
</div>
